{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

            
{% block body %}
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                {{ include('user/_form.html.twig') }}
                <p class="message">Déja enregistré ? <a href="{{path('login')}}">Connexion</a></p>
            </form>
        </div>
    </div>
<!--<input type="text" placeholder="name" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <button>create</button>-->
{% endblock %}
