{% extends 'base.html.twig' %}

{% block title %}Hello ParrainageController!{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding:20%;">
        <p> Faites scanner votre Qrcode à vos amis</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
            height="200px" width="200px">
        <p> Ou partager leurs votre code de parrainage</p>
        <input type="text" value="qx32tf87">
    </div>
{% endblock %}
